/**
 *  Global set box-sizing to border-box
 *  We set a measure for typography max-width here as a global default
 *  and override specific elements (e.g. html, div, body) to break loose of it.
 */
*,
:after,
:before {
    box-sizing: border-box; /* by default, everything is border-box */
    margin-block-start: 0; /* eliminating margin-block-start values to get rid of unintended margins globally */
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/**
 *  Make sure that full width blocks are full width, reset the
 *  browser margins. Might need to add html to overflow-x.
 */
body {
    overflow-x: hidden;
    height: 100vh;
}

/* images responsive by default */
img {
    max-width: 100%;
    height: auto;
}
/* fixes unwanted margin added to wp-block-post-content from blockGap */
.wp-site-blocks div[class*="wp-block-post-content"] {
    margin-top: 0;
}
/* ensures stack height matches parent maybe not necessary */
.wp-block-post-content * + *:only-child {
    height: 100%;
}
