/* universalizes padding according to custom spacing */
.wp-block-button__link,
.wp-block-button.is-style-outline > .wp-block-button__link,
.wp-block-button.is-style-fill > .wp-block-button__link.has-background {
    padding: calc(var(--wp--custom--spacing--default) * 0.5) var(--wp--custom--spacing--default);
}

/* Corrects global inheritance margin for group context */
.wp-block-button.is-style-fill > .wp-block-button__link.has-background {
    margin: unset;
}

/* sets default border radius, width & style */
.wp-block-button__link,
.wp-block-button.is-style-outline > .wp-block-button__link {
    border-radius: calc(var(--wp--custom--spacing--default) * 0.2);
    border-width: 0.0625em;
    border-style: solid;
}

/* default block colors */
.wp-block-button.is-style-fill > .wp-block-button__link {
    color: var(--wp--preset--color--brand-primary-shade-darker);
    background-color: var(--wp--preset--color--brand-primary);
    border-color: var(--wp--preset--color--brand-primary);
}

.wp-block-button.is-style-outline > .wp-block-button__link {
    color: var(--wp--preset--color--off-black);
    border-color: currentColor;
    background-color: transparent;
}

/**
 * box shadow on hover effect
 * default offset of box-shadow set to 1/4 global spacing.
 * default color inherits from text color.
 */
.wp-block-button__link:hover,
.wp-block-button__link:active,
.wp-block-button.is-style-outline > .wp-block-button__link:hover,
.wp-block-button.is-style-outline > .wp-block-button__link:active {
    box-shadow: var(--wp--preset--color--brand-primary-neon) calc(var(--wp--custom--spacing--default) * 0.25) calc(var(--wp--custom--spacing--default) * 0.25) 0 0;
}

.wp-block-button.is-style-outline > .wp-block-button__link:hover,
.wp-block-button.is-style-outline > .wp-block-button__link:active {
    color: var(--wp--preset--color--brand-primary-shade-darker);
    border-color: inherit;
}
