/* Removes unwanted bottom margin from stacking */
.wp-block-columns {
    margin-bottom: 0;
    padding: var(--wp--custom--spacing--default);
}
/*
.wp-block-columns > * {
    flex-grow: 1;
    flex-basis: calc((30rem - 100%) * 999);
}

.wp-block-columns:not(.is-not-stacked-on-mobile) > :nth-last-child(n+4),
.wp-block-columns:not(.is-not-stacked-on-mobile) > :nth-last-child(n+4) ~ * {
    flex-basis: 33%;
}


.wp-block-column {
    max-width: 100%;
}
*/

/*
.wp-block-columns > .wp-block-column {
    margin-top: var(--wp--custom--spacing--default);
}

 */

.wp-block-columns.has-background {
    padding: var(--wp--custom--spacing--default);
    outline: var(--wp--custom--border--tiny) solid transparent;
    outline-offset: calc(var(--wp--custom--border--tiny) * -1);
}