.mayuki-nav {
    display: grid;
    grid-template-areas: "logo search"
                          "menu menu";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3rem 2rem;
    background-color: var(--wp--custom--color--primary);
    column-gap: 0;

}
/* logo */
.mayuki-nav .wp-block-site-logo {
    grid-area: logo;
    padding: 0 0 0 0.75rem;
    align-self: center;
}
.mayuki-nav .custom-logo {
    max-height: 2.5rem;
    width: auto;
}
/* navigation bar */
.mayuki-nav .wp-block-navigation {
    grid-area: menu;
    box-shadow: inset 0 1.6px 2.6px rgba(0, 0, 0, 0.25);
    justify-content: center;
    height: 2rem;
}

.mayuki-nav .items-justified-right .wp-block-navigation__container {
    justify-content: flex-start;
}
.mayuki-nav .wp-block-navigation__container {
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 0.45rem;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;

}
.mayuki-nav .wp-block-navigation__container::-webkit-scrollbar {
    width: 0 !important;
}

.mayuki-nav .wp-block-navigation .wp-block-navigation-item {
    background-color: var(--wp--preset--color--off-white);
}

.mayuki-nav .current-menu-item {
    background-color: var(--wp--custom--color--secondary);
    border-color: var(--wp--custom--color--secondary);
    color: var(--wp--preset--color--off-white);
}
.mayuki-nav .wp-block-navigation ul {
    padding: .25em 0 0 .15em;
}
.mayuki-nav .wp-block-navigation ul li {
    padding: 0 .5em;
}
.mayuki-nav .wp-block-navigation-item {
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 2rem;
    border-width: 1px;
}
.mayuki-nav .wp-block-navigation-link__content {
    font-size: calc(var(--wp--preset--font-size--small) * 0.875);
}
.mayuki-nav .wp-block-home-link__content {
    font-size: calc(var(--wp--preset--font-size--small) * 0.875);
}

.mayuki-nav .wp-block-navigation .wp-block-navigation-link__label {
    overflow-wrap: normal;
    word-break: keep-all;
    white-space: nowrap;
}

/* Search bar */
.mayuki-nav .wp-block-search {
    grid-area: search;
    padding: 0 0.75rem 0 0;
    align-self: center;
}
/* controls outer border & padding between border of search block */
.mayuki-nav .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    border: none;
    padding: 0;
}

/* controls search bar */
.mayuki-nav .wp-block-search__input {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

/* controls search button */
.mayuki-nav .wp-block-search .wp-block-search__button {
    margin-left: 0;
    border: none;
}

/* removes default padding of group with bg color */
.mayuki-nav .wp-block-group:where(.has-background) {
    padding: 0;
}
